body {
  background: #111;
  color: #fff;
  margin: 0;
}
hr {
  border: none;
  border-bottom: 1px solid #e5e5e5;
  margin: 1em 0;
}
.m1 {
  margin: 1em;
}
.mt1 {
  margin-top: 1em;
}
.mr1 {
  margin-right: 1em;
}
.mb1 {
  margin-bottom: 1em;
}
.ml1 {
  margin-left: 1em;
}
.m2 {
  margin: 2em;
}
.mt2 {
  margin-top: 2em;
}
.mr2 {
  margin-right: 2em;
}
.mb2 {
  margin-bottom: 2em;
}
.ml2 {
  margin-left: 2em;
}
body {
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen, Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
  line-height: 1.4;
}
h1.shy-header {
  font-size: 8em;
  font-weight: 100;
  text-transform: uppercase;
  position: relative;
  z-index: -1;
  margin: -0.5em 0.125em -0.5em;
  opacity: 0.5;
}
@media only screen and (max-width: 1000px) {
  h1.shy-header {
    font-size: 6em;
  }
}
@media only screen and (max-width: 700px) {
  h1.shy-header {
    font-size: 3em;
  }
}
.button-group-wrapper {
  padding-top: 1em;
  display: flex;
  background: rgba(0,0,0,0.5);
}
.button-group-button {
  cursor: pointer;
  font: inherit;
  font-size: 1.2em;
  font-weight: bold;
  border: none;
  background: none;
  color: #888;
  border-bottom: 1px solid #444;
  padding: 0;
  margin: 0 0 0 1em;
}
.button-group-button.current {
  color: #fff;
  border-color: #fff;
}
.button-group-button:focus {
  outline: none;
}
.loading-component {
  text-align: center;
  margin: 1em;
}
.paginator-simple {
  margin: 3em 0;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}
.paginator-simple-item {
  cursor: pointer;
  color: #888;
  font-size: 1.2em;
  padding: 0 0.5em;
  margin: 0 0.3em;
}
@media only screen and (max-width: 700px) {
  .paginator-simple-item {
    padding: 0 0.2em;
    margin: 0 0.1em;
  }
}
.paginator-simple-item.current {
  color: #fff;
}
.paginator-simple-item:hover {
  color: #fff;
}
.program-card-wrapper {
  display: flex;
  flex-wrap: wrap;
}
.program-card-wrapper.loading {
  opacity: 0.2;
}
.program-card-card {
  text-decoration: none;
  cursor: pointer;
  position: relative;
  color: #fff;
  background: #111;
  width: 25%;
  height: 220px;
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
}
@media only screen and (max-width: 1500px) {
  .program-card-card {
    width: 33.3333%;
  }
}
@media only screen and (max-width: 1000px) {
  .program-card-card {
    width: 50%;
  }
}
@media only screen and (max-width: 700px) {
  .program-card-card {
    width: 100%;
  }
}
.program-card-card .description {
  margin: 0.3em;
  position: relative;
}
.program-card-card .description .title {
  font-size: 1.3em;
  color: #fff;
  text-shadow: 0 0 5px #000;
}
.program-card-card .description .genre {
  font-size: 0.8em;
  opacity: 0.6;
}
.program-card-card .image {
  opacity: 0.5;
  position: absolute;
  top: 1px;
  left: 1px;
  right: 1px;
  bottom: 1px;
  background-size: cover;
  transition: 0.2s;
}
.program-card-card:hover .image {
  opacity: 1;
}
