.button-group

    &-wrapper
        padding-top 1em
        display flex
        background rgba(0, 0, 0, .5)

    &-button
        cursor pointer
        font inherit
        font-size 1.2em
        font-weight bold
        border none
        background none
        color #888
        border-bottom 1px solid #444
        padding 0
        margin 0 0 0 1em

        &.current
            color white
            border-color white

        &:focus
            outline none
