
.paginator-simple
    margin 3em 0
    display flex
    flex-wrap wrap
    justify-content center

    &-item
        cursor pointer
        color #888
        font-size 1.2em
        padding 0 .5em
        margin 0 .3em

        @media only screen and (max-width: 700px)
            padding 0 .2em
            margin 0 .1em

        &.current
            color white

        &:hover
            color white

