.program-card-wrapper
    display flex
    flex-wrap wrap

    &.loading
        opacity .2

.program-card-card
    text-decoration none
    cursor pointer
    position relative
    color white
    background #111
    width 25%
    height 220px
    display flex
    flex-direction column
    justify-content flex-end

    @media only screen and (max-width: 1500px)
        width 33.3333%

    @media only screen and (max-width: 1000px)
        width 50%

    @media only screen and (max-width: 700px)
        width 100%

    .description
        margin .3em
        position relative
        .title
            font-size 1.3em
            color white
            text-shadow 0 0 5px black
        .genre
            font-size .8em
            opacity .6
    .image
        opacity .5
        position absolute
        top 1px
        left 1px
        right 1px
        bottom 1px
        background-size cover
        transition .2s

    &:hover
        .image
            opacity 1
