body
    font-family -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen, Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif
    line-height 1.4

h1
    &.shy-header
        font-size 8em
        font-weight 100
        text-transform uppercase
        position relative
        z-index -1
        margin -.5em .125em -.5em
        opacity .5

        @media only screen and (max-width: 1000px)
            font-size 6em

        @media only screen and (max-width: 700px)
            font-size 3em
