
.m1
    margin 1em
.mt1
    margin-top 1em
.mr1
    margin-right 1em
.mb1
    margin-bottom 1em
.ml1
    margin-left 1em

.m2
    margin 2em
.mt2
    margin-top 2em
.mr2
    margin-right 2em
.mb2
    margin-bottom 2em
.ml2
    margin-left 2em
